.currency-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 50px;
  width: 500px;
  height: 250px;
  border: 1px solid black;
}
.amount {
  width: 80px;
  height: 25px;
  margin-right: 10px;
}
.result {
  width: 80px;
  height: 25px;
  margin-right: 10px;
}
.from-currency-options {
  width: 70px;
  height: 30px;
  margin-right: 10px;
}

.to-currency-options {
  width: 70px;
  height: 30px;
  margin-right: 10px;
}
.exchange-button {
  width: 80px;
  height: 25px;
  background-color: red;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 40px;
}
